@{
    ViewData["Title"] = "Home Page";
}

    <h1>
        Secure ASP.NET Core Web API with Microsoft Identity Platform
    </h1>
    <p>
        How to secure a Web API built with ASP.NET Core using the Microsoft identity platform.The client uses OpenID Connect to sign in users. It leverages the ASP.NET Core OpenID Connect middleware
        and MSAL.NET.
    </p>
    <p>
        The MSAL library for .NET is part of the <a href="https://aka.ms/aaddevv2" rel="nofollow">Microsoft identity platform for developers</a> (formerly named Azure AD) v2.0.
    </p>

<img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE56sbF" class="center-block"/>
